* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

/* globals styles */
.root {
    margin-top: 50px;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* banner styles */
.banner_container {
    background-image: url('/assets/Banner\ Image.png');
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner_content h3 {
    font-size: 32px;
    text-align: center;
}

.banner_content h1 {
    font-size: 72px;
    text-align: center;
}

/* discount section styles */
.discount_content {
    text-align: center;
    margin-top: 140px;
}

.discount_content h1 {
    font-size: 88px;
    color: #ff0000;
    font-family: 'Inter', sans-serif;
}

.discount_content h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #ff0000;
    margin-top: 20px;
}

.discount_content h2 {
    font-size: 48px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}

.discount_content img {
    margin-top: 40px;
}

/* party section styles */
.party_container {
    margin-top: 140px;
    background-image: url('/assets/Vectorrr.png');
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 126px;
}

.party_content h1 {
    font-size: 64px;
}

.party_content p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin-right: 30px;
    margin-top: 3px;
}

.party_content button {
    background: none;
    border: none;
    appearance: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}

/* info section styles */
.info_container {
    margin-top: 140px;
    background-image: linear-gradient(#ff000016, #ff000005);
    width: 100%;
    height: 482px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info_content h3 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
}

.info_content h3 span {
    color: #ff0000;
    margin-right: 10px;
    font-family: "Inter", sans-serif;
}

.info_content button {
    background: none;
    border: none;
    appearance: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    background-color: #ff0000;
    padding: 8px 18px;
    border-radius: 2px;
    margin-top: 40px;
}

/* comming soon section styles */

.comming_soon_content {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.comming_soon_content h6 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #ff0000;
    font-weight: 400;
}

.comming_soon_content h2 {
    font-size: 48px;
    margin: 20px 0;
}

.comming_soon_description {
    color: #070211a9;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}


.comming_soon_img {
    border: 15px solid #ff0000;
    border-radius: 50%;
    padding: 30px;
}

.comming_soon_year_title {
    font-size: 48px;
    font-weight: 800;
    color: #ff0000;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.year_img {
    margin-top: 20px;
}

/* holidays section styles */
.holidays_container {
    margin-top: 140px;
}

.holidays_content>div {
    text-align: center;
}

.holidays_functional {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-family: 500;
    color: #ff0000;
}

.holidays_content h1 {
    font-size: 72px;
    margin: 20px 0;
}

.holidays_content h1 span {
    color: #ff0000;
}

.holidays_content>div>p {
    padding: 0 100px;
    font-family: "Inter", sans-serif;
    color: #070211a9;
    font-size: 20px;
}

.holidays_img_section {
    margin-top: 140px;
}

.holidays_img_section img {
    object-fit: contain;
}

/* portfolio section styles */

.portfolio_container {
    margin-top: 140px;
}

.portfolio_content h4 {
    font-size: 24px;
    color: #ff0000;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.portfolio_content h2 {
    font-size: 48px;
    margin: 16px 0;
}

.portfolio_content p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #070211;
}

.portfolio_products {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 15px;
}

.portfolio_products img {
    object-fit: contain;
    transition: all 1s ease-out;
}

.portfolio_products img:hover {
    transform: scale(1.1);
    transition: all 1s ease-out;
}

/* subscribe section styles */
.subscribe_container {
    margin-top: 140px;
    background-color: #ff00001f;
    height: 616px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_content {
    text-align: center;
}

.subscribe_content h2 {
    font-size: 48px;
    margin: 20px 0;
}

.subscribe_content p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #070211;
}

.subscribe_content .subscribe_input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.subscribe_input input {
    border: none;
    outline: none;
    margin: 0;
    padding: 10px 16px;
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 350px;
}

.subscribe_input button {
    border: none;
    outline: none;
    appearance: none;
    padding: 10px 16px;
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



/* footer section styles */

.footer_section {
    margin-top: 140px;
    background-color: #070211;
    color: #fff;
    height: 610px;
}

.footer_content {
    padding: 80px 0;
}

.footer_contact_address_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_contact_address_info p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.horizonltal_line {
    margin-top: 50px;
    opacity: .4;
}

.social_icons {
    text-align: center;
    margin-top: 50px;
}

.social_icons img {
    text-align: center;
    margin-top: 50px;
    margin: 0 15px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer_bottom p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.footer_number_web_info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.footer_number_web_info img {
    margin-right: 20px;
}